*{
    margin: 0;padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
    color: #333;
}

.nav {
    width: 100vw;
    background-color: #231c07;
    display: flex;
    justify-content: center;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 70vw;
}

.nav ul li {
    font-size: 20px;
    padding: 15px 0;
}

.nav ul li a {
    
    color: #fff;
    text-decoration: none;
    width: max-content;
    transition: all 0.3s ease-in;
}

.nav ul li:hover {
    background-color: #7c745c;
    font-weight: bold;
    transition: all 0.3s ease-in;
    padding-right: 5px;
    padding-left: 5px;
}

.nav ul li:active {
    background-color: #634133;}

    .one {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        background-color: #ebebeb;
        padding: 40px 0;
        height: max-content;
    }
    
    form {
        width: 70vw;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        padding: 40px;
        height: max-content;
    }
    form section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
