* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
    color: #333;
}

.nav {
    width: 100vw;
    background-color: #231c07;
    display: flex;
    justify-content: center;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 70vw;
}

.nav ul li {
    font-size: 20px;
    padding: 15px 0;
}
.nav ul li a{
    
    color: #fff;
    text-decoration: none;
    width: max-content;
    transition: all 0.3s ease-in;
}
.nav ul li:hover{
    background-color:#7c745c ;
    font-weight: bold;transition: all 0.3s ease-in;
    padding-right:5px;
    padding-left: 5px;
}
.nav ul li:active {
    background-color:#634133 ;
}
.one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #ebebeb;
    padding: 40px 0;
}
.one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #ebebeb;
    padding: 40px 0;
    height: max-content;
}

.content {
    width: 70vw;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

section {
    width: 100%;
    margin-bottom: 40px;
}

section .image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

section img {
    width: 30%;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}

.personal {
    text-align: right;
}

h1 {
    font-size: 36px;
    /* color: #231c07 to #634133 ; */
    background: linear-gradient(90deg, #231c07, #9d7362);
    background-clip: text;
        /* -webkit-background-clip: text; */
        -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 28px;
    /* color: #231c07; */
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    padding-top: 10px;
    background: linear-gradient(90deg,#231c07, #9d7362);
        background-clip: text;
        -webkit-text-fill-color: transparent;
}

p {
    font-size: 18px;
    margin-top: 10px;
    color: #634133;
}

.text {
    margin-top: 20px;
}